:root{
    --primary: #386ED7;
    --primary-shadow: rgba(69, 199, 255, 0.5);
    --primary-white: #FFFFFF;
    --primary-stroke: #45C7FF86;
    --primary-gradient-start: #14769F;
    --primary-gradient-stop: #0683ba;
    
    --secondary: #386dd791;
    --secondary-fill: #3862d7;
    --secondary-gradient-start: #14759f1e;
    --secondary-gradient-stop: #2730331e;
    
    --close-primary: #D73838;
    --close-shadow: rgba(255, 69, 69, 0.5);
    --close-stroke: #FF4949;

    --background-blur: radial-gradient(ellipse at center, #0D0D1A 0%, rgba(13, 13, 26, 0.75), rgba(13, 13, 26, 0.00) 50%);
}